@import "src/style/variables";

.nav-container {
  background-color: var(--border-color);
  padding: 0 32px;
}

.nav-container__wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 48px;
  gap: 32px;
  margin: 0 auto;
  max-width: 1024px;
}

.nav-container__brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: $phone-threshold-width) {
  .nav-container__wrapper {
    gap: 16px;
    grid-template-columns: 1fr auto;
    height: 64px;
  }

  .nav-container__brand {
    display: none;
  }

  .nav-container__cart__icon {
    font-size: 24px;
  }
}