@import "src/style/theme";

.input {
  @extend .theme-input-border;
  width: 100%;
  background-color: var(--input-inner-color);
  color: var(--text-color);
  height: 32px;
  outline: none;
  padding: 0 8px;
  box-sizing: border-box;
  font-weight: bold;
}


.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}